h2 {
    color:purple;

    font-family: "Lucidia Console", Monaco, monospace; 
}

div {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 4px;
    border-top-style: dashed;
    border-right-style: dashed;
    border-left-style: solid;
    border-bottom-style: dashed;
    border-radius: 4px;
    box-shadow: 5px 5px 5px lime;

    background-color: lightgrey;
    
}